
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins;
    justify-items: center;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    border-radius: 0px 0px 200px 200px;
    background: rgba(42, 166, 213, 0.64);
    width: 1024px;
    height: 458px;
}
.dark-mode {
    background-color: #111;
    color: #fff;
  }
  /* CSS cho chế độ sáng */
.light-mode {
    background-color: #fff;
  }
.logo{
    padding: 10px;
    display: flex;
    z-index:0;
    position: absolute;
    align-items: center;
}
.text-logo{
    font-weight: 400;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
}
.background_header{
    position: absolute;
    z-index: -1;
}
.menu .text_menu{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 13px;
    font-weight: 400;
    transition: 0.8s;
    transition-timing-function:linear;

}
.text_menu{
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.menu .text_menu:hover{
    background-color: #A4C8FF;
    color: #000;
    border-radius:25px ;
}
.menu .login:hover{
    background-color: #f7c8B6;
    border: 1px solid #f7c8B6 ;
}
.menu .signup:hover{
    border: 1px solid #000;
    background-color:unset;
}
.login-signup{
    display: flex;
}
.login{
    border: 1px solid #000;
    transition: 0.8s;
    transition-timing-function: linear;
}
.login ,
.signup{
    margin: 4px;
    padding: 4px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}
.signup{
    width: 73px;
    height: 24px;
    background-color: #f7c8B6;
    padding-left: 14px;
    transition: 0.8s;
    transition-timing-function: linear;
}

#themeSlider{
    width: 35px;
    margin-right: 10px;
}
.darkmode{
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    transition: background 0.2s;
}
.darkmode::-webkit-slider-thumb{
    -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      /* background-image:url("./img/moon.png"); */
      background: #000;
      cursor: pointer;
}
.darkmode::-moz-range-thumb{
    width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
}
.slogun{
    font-style: normal;
    display: flex;
    width: 512px;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0px 0px 100px;
}
.heading_slogun{
    color: #FFB600;
}
.text_slogun{
    padding-top: 10px;
    color: #000;
}
.text_decription{
    font-size: 14px;
}
.btn_seen{
    background-color: unset;
    border: 1px solid #000;
    width: 146px;
    height: 38px;
    border-radius: 80px;
    margin: 19px 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
    transition: 0.3s;
    transition-timing-function: linear;
}
.btn_seen:hover{
    border: 1px solid #A4C8FF;
    background-color: #A4C8FF;
    color: #000;
    cursor: pointer;

}
.img_header{
    position: absolute;
    padding: 0px 0px 0px 450px;
}

/* Section */
.heading_sub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1024px;
    padding: 50px 0 30px 0;
}
.sub_decription{
    width: 555px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.branchs,
.news{
    display: flex;
    justify-content: space-between;
    width: 1024px;
    padding-top: 50px;
}
.branch_deverloper,
.branch_internet,
.branch_app,
.branch_deverloper_up{
    width :206px;
    height: 277px;
    border: 0.5px solid rgba(000, 0, 0, 0.6);

}
.icon_branch_deverloper,
.icon_branch_app,
.icon_branch_internet,
.icon_branch_deverloper_up{
    position: absolute;
     margin: -7px 88px;
     font-size: 20px;
     width: 30px;
     height: 30px;
    z-index: 4;
}
.text_branch{
    color: #000;
    margin: 150px 50px 20px 10px;
    width: 100%;
    font-size: 15px;
}
.sub_branch{
    margin-top: 10px;
    display: block;
}
.branch_detail{
    height: 40px;
    width: 100px;
    border:1px solid rgba(000, 0, 0, 0.6);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    transition: 0.8s;
    transition-timing-function:linear;
    width: 70%;
    
}
.branch_detail:hover{
    background-color: #A4C8FF;
    border: 1px solid #A4C8FF;
    color: #000;
    cursor: pointer;
}
.branch_dev,
.branch_inter,
.branch_application,
.branch_dev_clc{
    width:203px;
    height: 140px;
    position:absolute;
    margin-top: 0px;
}
.container_icon{
    background-color: #A4C8FF;
    position: absolute;
    z-index: 4;
    height: 55px;
    width: 55px;
    margin: -20px 0 0 75px;
    border-radius: 50px;
    opacity: 0.7;
}
.news{

}
.new_section{
    width: 206px;
    height: 260px;
    /* background-color: black; */
    margin-left: 15px;
    border: 0.5px solid rgba(000, 0, 0, 0.6);
}

.image_new{
    width: 100%;
    height: 105px;
}
.icon_calendar{
    display: inline-block;
    height: 10px;
    width: 10px;
}
.day_new{
    color: black;
    font-size: 8px;
    opacity: 0.8;
}
.text_new{
    font-weight: 700;
    display: block;
    opacity: 1;
    margin-left: 10px;
}
